<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="x07studio.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <x07studio.Properties.Settings>
            <setting name="EditorFont" serializeAs="String">
                <value>Consolas, 9pt</value>
            </setting>
            <setting name="FormSettings" serializeAs="String">
                <value />
            </setting>
            <setting name="PortName" serializeAs="String">
                <value>COM3</value>
            </setting>
        </x07studio.Properties.Settings>
    </userSettings>
</configuration>